doctype html
html
  include ./common/head
  body
    h2 Jade Template Engine
    table
        thead
            tr
                th 序号
                th 标题
                th 简介
        tbody
            each item, i in list
             tr
              td 
                span.time #{i+1}
              td 内容标题
              td
                p 内容简介

    include ./common/footer